# Datos: pesan GB, no van al repo
data/raw/
data/interim/
data/processed/*.csv
!data/processed/.gitkeep

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/
.pytest_cache/

# Power BI
dashboard/*.pbix.bak

# SO
.DS_Store
Thumbs.db
